{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/cpe.css' %}">
    </head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav mb-0 ">
            <li class="nav-item">
                <a class="nav-link" href="/FlightManagement">Flight Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ReportListAllTicket">Report List All Ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ReportListAllCustomer">Report List All Customer</a>
            </li>
        </ul>
        </nav>
    <table id='maintable' class='table'>
        <tr>
            <th>#</th>
            {% for name in column_name %}
            <th>{{ name }} </th>
            {% endfor %}
        </tr>
    {% for lineitem in data %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ lineitem.ticket_id }}</td>
            <td>{{ lineitem.flightid }}</td>
            <td>{{ lineitem.flight_class }}</td>
            <td>{{ lineitem.seat }}</td>
            <td>{{ lineitem.username }}</td>
            

    {% endfor %}
  
</body>
</html>
